[submodule ".registry"]
	path = .registry
	url = https://github.com/nutriverse/nutriverse.r-universe.dev
	branch = HEAD
[submodule "anthrocheckr"]
	path = anthrocheckr
	url = https://github.com/nutriverse/anthrocheckr
[submodule "intergrowth"]
	path = intergrowth
	url = https://github.com/nutriverse/intergrowth
[submodule "ipctools"]
	path = ipctools
	url = https://github.com/nutriverse/ipctools
[submodule "micronutr"]
	path = micronutr
	url = https://github.com/nutriverse/micronutr
[submodule "nipnTK"]
	path = nipnTK
	url = https://github.com/nutriverse/nipnTK
[submodule "riycf"]
	path = riycf
	url = https://github.com/nutriverse/riycf
[submodule "sleacr"]
	path = sleacr
	url = https://github.com/nutriverse/sleacr
[submodule "squeacr"]
	path = squeacr
	url = https://github.com/nutriverse/squeacr
[submodule "zscorer"]
	path = zscorer
	url = https://github.com/nutriverse/zscorer
