[submodule ".registry"]
	path = .registry
	url = https://github.com/nutriverse/nutriverse.r-universe.dev
	branch = HEAD
[submodule "anthrocheckr"]
	path = anthrocheckr
	url = https://github.com/nutriverse/anthrocheckr
[submodule "dietry"]
	path = dietry
	url = https://github.com/nutriverse/dietry
[submodule "micronutr"]
	path = micronutr
	url = https://github.com/nutriverse/micronutr
[submodule "mwana"]
	path = mwana
	url = https://github.com/nutriverse/mwana
[submodule "nipnTK"]
	path = nipnTK
	url = https://github.com/nutriverse/nipnTK
[submodule "riycf"]
	path = riycf
	url = https://github.com/nutriverse/riycf
[submodule "sleacr"]
	path = sleacr
	url = https://github.com/nutriverse/sleacr
[submodule "squeacr"]
	path = squeacr
	url = https://github.com/nutriverse/squeacr
[submodule "zscorer"]
	path = zscorer
	url = https://github.com/nutriverse/zscorer
